body{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "jaf-bernin-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    background:  url("../images/candle2.jpg") no-repeat center center fixed;
    background-size: cover;
}
a{
    color: #689f38;
}
.container{
    background-color: #e5e5e5;
}
.hero-mask{
}
.hero-cover{
    height: 450px;
}
.hero-mask:hover{
}
.hero-container{
    background-color: #e5e5e5;
    text-align: center;
}
.hero-avatar{
    align-content: center;
}
.hero-avatar img{
    margin-top: -150px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    margin-bottom: 5px;
}
.hero-title {
    font-weight:  700;
    font-style: normal;
    font-size: 50px;
    letter-spacing: -0.04em;
    line-height: 1;
    color: rgba(0,0,0,0.8);
    margin-bottom: 20px;
    outline: 0;
}
.blank{
    background-color: #689f38;
    height: 15px;
}
#navigation{
    text-align: center;
    background-color: #689f38;
    height: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}
#navigation-div{
    margin-bottom: 10px;
}
#navigation a{
    position: static;
    text-decoration: none;
    color: #c3d9af;
    padding: 6px;
}
#navigation a:link{
    padding: 6px;
    color: #ffffff;
}
#navigation a:hover{
    padding: 6px;
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
}
.hero-description {
    color: rgba(0,0,0,0.6);
    font-size: 18px;
    outline: 0;
    letter-spacing: -0.02em;
    line-height: 1.6;
}
.clear{
    clear: left;
    height: 50px;
}
.home-icon{
    position: fixed;
    top:10px;
    left: 10px;
    width:45px;
    height:45px;
    z-index:700;
    background-color:#e5e5e5;
    text-align:center;
    border-radius: 3px;
    opacity: 0.7;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
.home-icon img{
    border:none;
    width:35px;
    height:35px;
    margin-top:5px;
}

.home-icon:hover {
    opacity: 1;
}
.nav-field{
    background-color: #e5e5e5;
    align-self: center;
    text-align: left;

}
.about{
    float: left;
}
.nav-field h2{
    margin-left: 30px;
}
.nav-field div.float{
    padding: 10px;
    border-radius: 3px;
    width: 300px;
    background-color: #fafafa;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}
.topic{
    float: left;
    margin-left: 30px;
}
.nav-con{
    background-color: #eeeeee;
    text-align: center;
}
#footer{
    background-color: #f9f9f9;
}
#footer h4 {

    font-weight: 700;
    font-style: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1em;
    color: #b3b3b1;
    margin-right: 20px;
    border-top: 1px solid #f2f2f0;
    border-bottom: 1px solid #f2f2f0;
    padding: 10px;
}
#footer .con{
    float: right;

}

