body{
    margin: auto;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #eeeeee;
    font-family: "jaf-bernin-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: normal;

}
.body-background{
    background-image: url("../images/bg-blur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    background-color: #e5e5e5;
}
.hero-mask{
}
.hero-cover{
    height: 450px;
}
.hero-mask:hover{
}
.hero-container{
    background-color: #e5e5e5;
    text-align: center;
}
.hero-avatar{
    align-content: center;
}
.hero-avatar img{
    margin-top: -150px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    margin-bottom: 5px;
}
.hero-title {
    font-weight:  700;
    font-style: normal;
    font-size: 50px;
    letter-spacing: -0.04em;
    line-height: 1;
    color: rgba(0,0,0,0.8);
    margin-bottom: 20px;
    outline: 0;
}
.blank{
    background-color: #5D71B8;
}
.navigation{
    width: 1000px;
    margin: auto;
    background-image: url("../images/bgHeadergg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
    height: 50px;
}
a{
    color: #5D71B8;
    text-decoration: none;
}
#navigation-blue{
    position: fixed;
    text-align: left;
    background-color: #5D71B8;
    height: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    width: 100%;
}
.selected-blue{
    background-color: rgba(255,255,255,.6);
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    color: #5D71B8;
}
#navigation-red{
    position: fixed;
    text-align: left;
    background: #BE4C39;
    height: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    width: 100%;
}
.selected-red{
     background-color: rgba(255,255,255,.6);
     border-radius: 5px;
     padding: 5px;
     margin-top: 15px;
     color: #BE4C39;
 }
#navigation-violet{
    position: fixed;
    text-align: left;
    background: #9351A6;
    height: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    width: 100%;
}
.selected-violet{
    background-color: rgba(255,255,255,.6);
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    color: #9351A6;
}
#navigation-green{
    position: fixed;
    text-align: left;
    background: #4CA454;
    height: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    width: 100%;
}
.selected-green{
    background-color: rgba(255,255,255,.6);
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    color: #4CA454;
}
#navigation-orange{
    position: fixed;
    text-align: left;
    background: #d49b00;
    height: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    width: 100%;
}
.selected-orange{
    background-color: rgba(255,255,255,.6);
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    color: #d49b00;
}
#navigation-gray{
    position: fixed;
    text-align: left;
    background: #444444;
    height: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    width: 100%;
}
.selected-gray{
    background-color: rgba(255,255,255,.6);
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    color: #444444;
}
#navigation-div{
    margin-left: 20px;
}
#navigation-div img{
    margin-top: 4px;
    margin-bottom: -13px;
    width: 40px;
    height: 40px;
}
.navigation-margin ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation-margin a.scroll{
    padding: 5px;
    color: #d2d2d2;

}
.navigation-margin a.scroll:hover{
    background-color: rgba(255,255,255,.6);
    border-radius: 5px;
    color: #ffffff;
    transition: 0.9s;
}
.navigation-margin li {
    float: left;
    display: inline;
    padding: 2px;
}
.navigation-margin {
    margin-left: 5px;
    margin-top: -28px;
}

.hero-description {
    color: rgba(0,0,0,0.6);
    font-size: 18px;
    outline: 0;
    letter-spacing: -0.02em;
    line-height: 1.6;
}
.clear{
    clear: both;
}
.nav-field{
    background-color: #e5e5e5;
    align-self: center;
    text-align: left;

}
.about-field{
    float: left;
    width: 310px;
    margin: auto;
    text-align: left;
    margin-top: 3px;
}

.nav-con{
    background-color: #eeeeee;
    text-align: center;
    color: #34342D;
    width: 1000px;
    margin: auto;
}
footer{
    background-color: #eeeeee;
}
.footer{
    border-top: 1px solid rgba(179, 179, 177, 0.32);
    border-bottom: 1px solid rgba(179, 179, 177, 0.32);
    background-color: #eeeeee;
    height: 50px;
}
.footer .con h4 {
    float: right;
    font-style: normal;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1em;
    color: #b3b3b1;
    margin-right: 20px;
    padding: 1px;
}
.footer .con{
    margin: auto;
    width: 1000px;
    background-color: #eeeeee;
    height: 50px;
}
.footer .con .social{
    margin-left: 20px;
    margin-top: 9px;
    text-align: left;
    float: left;
}
.footer .con .social a{
    opacity: .3;
}
.footer .con .social a:hover{
    opacity: .5;
    transition: 0.9s;
}
.divition{
    background-color: #eeeeee;
    padding-bottom: 3px;
}
.other_shield{
    float: left;
    width: 650px;
    margin: auto;
    text-align: left;
    padding-bottom: 4px;
    margin-top: 3px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.row-content-icon {
    float: left;
    display: inline-block;
    padding-right: 16px;
    margin-top: 13px;
}

i{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
    color: white;
}
.box_border {
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 3px;
}
.logo_folder{
    background-color: #dddddd ;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
    color: white;
}
.logo_folder img{
    height: 60px;
    width: 60px;
}
.box_border_text{
    margin-left: 80px;
}
.box_border_title {
    color: rgba(0,0,0,.77);
    font-size: 20px;
    line-height: 29px;
}
#searchContainer {
    margin-top: -10px;
    text-align: center;
}
#field {
    width:300px;
    height:27px;
    line-height:27px;
    text-indent:10px;
    font-family:arial, sans-serif;
    font-size:1em;
    color:#333;
    background: #fff;
    border:solid 1px #d9d9d9;
    border-top:solid 1px #c0c0c0;
}
#submit {
    width:70px;
    height: 29px;
    color: #ffffff;
    background-color: #4d90fe;
    border: 1px solid #3079ED;
    border-radius: 2px;
}
#submit:hover {
    background-color: #357AE8;
    border: 1px solid #2F5BB7;
}
.tab-about{
    width: 300px;
    float: left;
}